<div id="row">
  <span id="url">
    Room panel
  </span>
<!--  <div id="scroll-indicator-wrapper">-->
<!--    <div *ngIf="isScrollProgress()" class="indicator-label">0%</div>-->
<!--    <div id="scroll-progress" *ngIf="isScrollProgress()" [@enterAnimation]>-->
<!--      <div id="progress-bar" [style.width]="scrollProgress+'%'"></div>-->
<!--    </div>-->
<!--    <div *ngIf="isScrollProgress()" class="indicator-label">100%</div>-->
<!--  </div>-->


<!--  <div id="flags-section">-->
<!--    <img src="./assets/img/poland.svg" alt="PL"/>-->
<!--    <img src="./assets/img/united-kingdom.svg" alt="EN"/>-->
<!--  </div>-->
  <div id="measurements-component" *ngIf="isAuthenticated">
    <app-environment></app-environment>
  </div>
</div>
