table#environment-measurements tr
  border-top: 1vh solid transparent
  border-bottom: 1vh solid transparent
  border-left: 1vh solid transparent

img.environmental-icon
  height: 8vh
  width: auto

td.environmental-value
  font-size: 4vh
  vertical-align: middle
  padding-left: 1vw
