<table id="environment-measurements">
  <tr>
    <td><img src="./assets/temperature-icon.png" class="environmental-icon"/></td>
    <td class="environmental-value">{{ temperature }} °C</td>
  </tr>
  <tr>
    <td><img src="./assets/humidity-icon.png" class="environmental-icon"/></td>
    <td class="environmental-value">{{ humidity }} %</td>
  </tr>
  <tr>
    <td><img src="./assets/pressure-icon.png" class="environmental-icon"/></td>
    <td class="environmental-value">{{ pressure }} hPa</td>
  </tr>
</table>
