
<div class="jumbotron">
  <div class="container">
    <div class="col-sm-8 col-sm-offset-2">
      <app-alert></app-alert>
      <div class="col-md-6 col-md-offset-3">
        <h2>Login</h2>
        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">{{ 'LOGIN_FORM.USERNAME' | translate }}</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   [(ngModel)]="model.username"
                   [ngModelOptions]="{standalone: true}"
                   #username="ngModel"
                   required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
          </div>
          <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">{{ 'LOGIN_FORM.PASSWORD' | translate }}</label>
            <input type="password"
                   class="form-control"
                   id="password"
                   [(ngModel)]="model.password"
                   [ngModelOptions]="{standalone: true}"
                   #password="ngModel"
                   required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">{{ 'LOGIN_FORM.LOGIN' | translate }}</button>
            <img *ngIf="loading" src="./assets/loading.gif" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
