<img *ngIf="isPreviewAvailable()"
     [src]="imageSrc"
     class = "medium-preview-image"
     onContextMenu="return false;"
     [ngClass]="{ 'fullscreen': isFullscreen, 'small': !isFullscreen  }">
<img *ngIf="!isPreviewAvailable()"
     src="./assets/preview.png"
     onContextMenu="return false;"
     [ngClass]="{ 'fullscreen': isFullscreen, 'small': !isFullscreen  }">
<br>
<button (click)="startPreview()">START</button>
<button (click)="stopPreview()">STOP</button>
<button (click)="invertFullscreenState()">Fullscreen</button>
<p id="last-update-paragraph" *ngIf="isPreviewAvailable()">Last update: {{ lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
