.medium-preview-image
  -webkit-transform: rotate(180deg) !important
  -moz-transform: rotate(180deg) !important
  -ms-transform: rotate(180deg) !important
  -o-transform: rotate(180deg) !important
  transform: rotate(180deg) !important

#preview_thumbnail
  opacity: 0.7
  filter: grayscale(100%)

.control-button
  margin-left: 3px

.small
  width: 40vw
  height: auto

.fullscreen
  width: 88vw
  height: auto

img
  border: 1px solid black
  margin: 2px 0 0 2px

#last-update-paragraph
  //display: inline
  margin-left: 5px

.aligned-with-icon
  //position: absolute
  margin-top: 5px
  margin-left: 5px

#fullscreen-button
  width: 200px
