<img *ngIf="isPreviewAvailable()"
     [src]="imageSrc"
     class = "medium-preview-image"
     onContextMenu="return false;"
     [ngClass]="{ 'fullscreen': isFullscreen, 'small': !isFullscreen  }">
<img *ngIf="!isPreviewAvailable()"
     src="./assets/preview.png"
     onContextMenu="return false;"
     [ngClass]="{ 'fullscreen': isFullscreen, 'small': !isFullscreen  }">
<br>
<button (click)="startPreview()">{{ 'CAMERA.START' | translate }}</button>
<button (click)="stopPreview()">{{ 'CAMERA.STOP' | translate }}</button>
<button (click)="invertFullscreenState()">{{ 'CAMERA.FULLSCREEN' | translate }}</button>
<p id="last-update-paragraph" *ngIf="isPreviewAvailable()">
  {{ ('CAMERA.LAST_UPDATE' | translate) + ':' }}{{ lastUpdateTimestamp | date: 'yyyy-MM-dd HH:mm:ss' }}
</p>
